.course-card {
    height: 100%;
    border-bottom: 5px dashed var(--primary-color);
    margin-bottom: 50px;
}

.badge {
    font-size: 0.8rem;
}

.favorite-btn {
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.favorite-btn:hover {
    transform: scale(1.2);
}